/* || General styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}


#careshare-header {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
  

/* || Action Panel styles */
/* HIDE RADIO */
[type=radio], [type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* IMAGE STYLES */
.diaper-checkbox-icons img, .food-radio-icons img, .sleep-radio-icons img{
    background-color: "";
    margin: 5px;
    height: 3rem;
    width: auto;
    padding: 3px;
}

.diaper-checkbox-icons p, .food-radio-icons p, .sleep-radio-icons p{
    font-size: small;
    color: #656167;
}




input {
    height: min-content;
    align-content: center;
    border: 0px;
}


#diaper-done, #food-done {
    margin: 5px 1px;
}



#action-container {
    padding-top: 15px;
    background: #c172fa;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0 20px 0
}
/* || Flex container styles */
.item {
    background: #ffffff;
    
    margin-bottom: 2%; /* (100-32*3)/2 */
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px #79687e
}
  
.item p{
    text-align: center;
}

label {
  border: thin solid white;
}

.action-label-text{
    font-size: small;
    color: #656167;
}

.form-show-buttons{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


#dropdown-container{
  /*display: flex;*/
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
 
}

.add-shift-form {
    justify-content: center;
    align-items: center;
}

.submit {
  position: relative;
  background-color: #1cb523;
  border-radius: 5px;
  height: 2rem;
  width: auto;
  color: whitesmoke;
  font-size: 12px;
  justify-self: center;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #1cb523 solid 1px;
  color: #1cb523;
}


.input-text {
  border: #000000 solid 1px;
  border-radius: 5px;
  width: 150px;
  
 
  font-size: 15px;
  
  
}

.hidden {
    display: none;
}

.flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
  
  
  
  
  
  
  * {
    box-sizing: border-box;
  }


  .flex-grid { 
    margin: 0 0 20px 0;
  }
  .col {
    background: salmon;
    padding: 20px;
  }

  textarea {
    resize: none;
  }