

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#review-header {
  text-transform: uppercase;
  color: #741f8a;;
}

select {
  font-size: 16px;
}

#careshare-header {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#header-logo {
  max-width: 35%;
  height: auto;
}

#shifts-dropdown {
  margin-bottom: 15px;
}
 

.diaper-checkbox-icons img, .food-radio-icons img, .sleep-radio-icons img{
    background-color: "";
    margin: 5px;
    height: 3rem;
    width: auto;
    padding: 3px;
}

.diaper-checkbox-icons p, .food-radio-icons p, .sleep-radio-icons p{
    font-size: small;
    color: #656167;
}

input {
    
    align-content: center;
    border: 0px;
}

#diaper-done, #food-done {
    margin: 5px 1px;
}

#add-shift-form {
  padding: 10px;
}

#action-container {
    padding-top: 15px;
    background: #ce93d8;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0 20px 0
}
/* || Flex container styles */
.item {
    background: #ffffff;
    
    margin-bottom: 2%; /* (100-32*3)/2 */
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px #79687e
}
  
.item p{
    text-align: center;
}

label {
  border: thin solid white;
}

.action-label-text{
    font-size: small;
    color: #656167;
}

.form-show-buttons{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#new-shift, #select-shift {
  color: #494949 !important;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #a82fc9 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }

  #new-shift:hover, #select-shift:hover, .closeButton:hover{
    color: #ffffff !important;
    background: #a82fc9;
    border-color: #a82fc9 !important;
    transition: all 0.4s ease 0s;
  }


#dropdown-container{
  /*display: flex;*/
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
 
}

.submit-shift {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  background: #80b026;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }

  .submit-shift:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.closeButton, .deleteButton {
  color: #000000 !important;
  font-size: 10px;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  border: 1px solid #000000 !important;
  transition: all 0.4s ease 0s;
}

.closeButton:hover {
  color: #ffffff !important;
  background: #a82fc9;
  border-color: #a82fc9 !important;
  transition: all 0.4s ease 0s;
  }

#go-back{
  color: #000000 !important;
  font-size: 10px;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  border: 1px solid #000000 !important;
  transition: all 0.4s ease 0s;
}

#go-back:hover, .deleteButton:hover {
  color: #ffffff !important;
  background: #b08426;
  border-color: #b08426 !important;
  transition: all 0.4s ease 0s;
  }


.submit {
  position: relative;
  background-color: #1cb523;
  border-radius: 5px;
  height: 2rem;
  width: auto;
  color: whitesmoke;
  font-size: 12px;
  justify-self: center;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #1cb523 solid 1px;
  color: #1cb523;
}


.input-text {
  border: #601285 solid 1px;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  text-align: center;
  color: #601285;
  font-size: 20px;
  
  
}

.input-text:focus {
  outline-width: 0;
}

.hidden {
    display: none;
}

.flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
  
  
  #food-names {
    color: #7b716345
  }

  #timeline-notes li{
    list-style: none;
    font-style: italic;
  }
  
  * {
    box-sizing: border-box;
  }


  .flex-grid { 
    margin: 0 0 20px 0;
  }
  .col {
    background: #9ed893;
    padding: 20px;
  }

  textarea {
    resize: none;
  }